@import url("https://fonts.googleapis.com/css?family=Oswald");
/*@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css);*/
/* Customize fonts */
html, body {
  width:100%;
  height:100%;
  font-family: Oswald, sans-serif;
}

#cas-map, #hosp-map, #vac-map {
  height: calc(100vh - 45px) !important;
  width: 100%;
  position: fixed;
  top: 50px;
  left: 0;
}

hr {border-top: 1px solid #000000;}
